<div class="new-project">
  <div class="left"></div>
  <div class="right">
    <form
      class="right__form"
      (submit)="addNewProject()"
      [formGroup]="myForm"
      #newProjectForm="ngForm"
    >
      <h1 class="header">New project</h1>

      <input
        type="text"
        class="form-control"
        placeholder="Title"
        name="title"
        formControlName="name"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          myForm.controls['name'].invalid && myForm.controls['name'].touched
        "
      >
        Title is required
      </div>

      <input
        type="text"
        class="form-control"
        placeholder="Short description"
        name="decription"
        formControlName="decription"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          myForm.controls['decription'].invalid &&
          myForm.controls['decription'].touched
        "
      >
        Description is required
      </div>

      <button
        class="btn-submit"
        type="submit"
        [disabled]="!newProjectForm.form.valid"
      >
        CREATE
      </button>
    </form>
  </div>
</div>
