.backlog {
    padding-top: 7rem;
}

.table {
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-secondary);

    & td {
        background-color: var(--color-primary);
        vertical-align: middle;
    }
}

.fa-trash:hover {
    cursor: pointer;
    color: rgb(255, 88, 88);
}

.no-project {
    color: var(--color-secondary);
    margin: 3rem;

    a {
        text-decoration: none;
    }
}

.add {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    text-decoration: none;

    & .fa-plus-square {
        color: var(--color-secondary);
    }

    hr {
        background-color: var(--color-secondary);
        width: 100vw;
    }

    &:hover {
        opacity: .9;
        cursor: pointer;
    }
}

.btn {
    font-size: 1.6rem;
    padding: .2rem 1.2rem;
}