<div class="auth">
  <form (submit)="userLoginClick()" class="my-form">
    <h1 class="header">Sign in</h1>
    <flash-messages></flash-messages>

    <div class="form-group">
      <i class="fas fa-envelope"></i>
      <input
        type="email"
        [(ngModel)]="email"
        placeholder="Email"
        name="email"
        class="input"
        required
      />
    </div>

    <div class="form-group">
      <i class="fas fa-lock"></i>
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
        name="password"
        class="input"
        required
      />
    </div>

    <button class="btn-submit" type="submit">LOGIN</button>
  </form>
</div>
