@import '../../new-project/new-project.component.scss';

.task {
    background: url('../../../../assets/new-task.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

    & .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-secondary);
        border-radius: 10px;
        padding: 3rem;
        width: 25%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.sp {
    width: 100%;
    margin-top: 1.5rem;

    & p {
        font-size: 2rem;
    }

    & .rating {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 1rem;
        border: 1px solid var(--color-primary);
        box-sizing: border-box;
        background: linear-gradient(to right, #f00, #ff0, #0f0);

        & input {
            display: none;

            &[type="radio"]:hover ~ label,
            &[type="radio"]:checked ~ label {
                background: transparent;
            }
        }

        & label {
            display: block;
            cursor: pointer;
            width: 5rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s;
            background: var(--color-secondary);
            color: var(--color-primary);
            border-right: 1px solid var(--color-primary);
            margin-bottom: 0;
        }
    }
}